/* action */
.action-title {
    font-size: 42px;
    font-weight: bold
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    margin-top: 30px;
}

.action-img {
  border-radius: 48px;
  overflow: hidden;
}

.action-btn {
    width: 229px;
    height: 48px;
    padding: 10px 0px;
}

